
/* Styling for searchtool.html */

body {
  font-size: 11pt;
  font-family: "Helvetica", "Verdana", "Arial", sans-serif;
  color: #25292e;
}

table, th, td {
  border: 1px solid rgb(73, 73, 73); 
  border-collapse: collapse;
  word-wrap:break-word;
  color: #464d55;
}

th, td {
  padding: 5px;
}

th {
	background-color: #f6f8fa;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.search_box {
	background-color: #f6f8fa;
	padding: 10px;
}

.tooltip {
	font-style: italic;
	color: #808080;
}

.filename {
	font-size: 10pt;
	font-family: "monospace";
}
