<html>
<h2>Intermittent Test Failure Tracker</h2>
  <form action="query_range.py" method="get" name="query_range.py">
    enter date range<br>start:
    <input type="text" name="start" placeholder="format: YYYYMMDD">
    <br>end:
    <input type="text" name="end" placeholder="format: YYYYMMDD">
    <input type="submit"><br><br>
    <i style="color:#808080">Enter the date range you'd like to query in the format of YYYYMMDD
    <br><br>A blank test_file name will return all records.</i>
  </form>
</html>
