<html>
<h2>Intermittent Test Failure Tracker</h2>
  <form action="/record.py" method="post" name="record.py">
    test file<br>
    <input type="text" name="test_file" placeholder="test_123.c">
    <i style="color:#808080">(name of the testfile encountering the failure)</i><br>

    platform<br>
    <input type="text" name="platform" placeholder="unix">
    <i style="color:#808080">(platform on which the testfile is running)</i><br>

    builder<br>
    <input type="text" name="builder" placeholder="any name">
    <i style="color:#808080">(test machine name)</i><br>

    number<br>
    <input type="text" name="number" placeholder="1000">
    <i style="color:#808080">(related GitHub pull request number)</i><br><br>

    <input type="submit" value="Add Test Failure">
  </form>

  <a href="/file">View the JSON file</a><br>
  <i style="color:#808080">Notes: <br>
  <li>May have to refresh the JSON page to see newly added entries</li>
  <li>JSON form as no feedback</li>

  </i>
</html>
